.body {
    background-color: antiquewhite;
    width: 144px;
    height: 164px;
}

.screen {
    background-color: black;
    height: 30px;
    width: 140px;
    text-align: right;
    border-style: none;
    color: white;
}

.deed {
    width: 36px;
    height: 22px;
    background-color: #d2d2d2;
    border-style: none;
}

.tovch {
    width: 36px;
    height: 22px;
    background-color: #f4f4f4;
    border-style: none;
}

.tents {
    width: 36px;
    height: 88px;
    background-color: #ff8042;
    border-style: none;
}

.col {
    display: inline-block;
}
.col2 {
   float: right;
}
